/*
* body定義
*/
body {
    background-color: #66CCFF;
    overflow: hidden;
    width:100%;
}

body {
	height: 100%;
    overflow: hidden;
    width:100%;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;  
    background-image: repeating-linear-gradient(
        to bottom right,
        transparent,
        #fff
    );
    animation: colorRotation 10s linear 0s infinite;
    
    box-sizing: border-box;
    border: 16px solid red; 
}

@keyframes colorRotation {
  0% {
    background-color: hsl(0deg, 80%, 50%);
  }
  16.66% {
    background-color: hsl(60deg, 80%, 50%);
  }
  33.33% {
    background-color: hsl(120deg, 80%, 50%);
  }
  50% {
    background-color: hsl(180deg, 80%, 50%);
  }
  66.66% {
    background-color: hsl(240deg, 80%, 50%);
  }
  83.33% {
    background-color: hsl(300deg, 80%, 50%);
  }
  100% {
    background-color: hsl(360deg, 80%, 50%);
  }
}



errorbody {
    background-color: red;
}
#wrapper {
    width:99%;
    height:100%;
    padding:0px;
}


/*
* ヘッダー、フッター共通定義
*/
#header,#businessBody,#footer {
    width: 100%;
    padding: 5px;
    margin: 0;
}

/*
* ヘッダー定義
*/
#header {
    top: 2px;
    height: 75px;
}
#headLeft {
    width:15%;
    text-align:center;
}
#headCenter {
    width:70%;
    text-align:center;
    font-family: "Gotu";
    color: #FFFF00;
  	font-size: 55px !important;
  	text-shadow: 1px 1px 0 #ff0000, -1px 1px 0 #0043ff, 1px -1px 0 #ffffff, -1px -1px 0 #ff0000;
  	/* アニメーションの追加 */
    animation: rotateY360 8s linear infinite; /* 5秒で一周する無限ループ *//* 回転効果のためにインライン要素をブロック化 */
}

@keyframes rotateY360 {
    0% {
        transform: rotateY(0deg); /* 初期位置 */
    }
    100% {
        transform: rotateY(360deg); /* 360度回転 */
    }
}


#headRight {
    width:15%;
    text-align:center;
}
/*
* メニュー画面のボタン
*/
.menuBlock {
    margin-left:60px;
    float:left;
    text-align:center;
    padding:30px;
}

/*
* 業務body定義
*/
#businessBody {
    height: 77%;
    overflow: auto;
}

/*
* フッター定義
*/
#footer {
    bottom: 1%;
    height: 70px;
    width: 100%;
}



#footLeft {
    float:left;
    width:400px;
    text-align:left;
}
#footCenter {
    width:100%;
    text-align:center;
}
#footRight {
    float:right;
    width:400px;
    text-align:right;
}
/*
* エラーページ ヘッダー、フッター共通定義
*/
#errorHeader,#errorBusinessBody,#errorFooter {
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #FFA4C6;
}

/*
* エラーページ ヘッダー定義
*/
#errorHeader {
    top: 1%;
    height: 6%;
    text-align: center;
    font-size: 24px;
    color: #FFFF00;
}

/*
* エラーページ 業務body定義
*/
#errorBusinessBody {
    top: 8%;
    height: 80%;
    overflow: auto;
    font-weight: bold;
    color: black;
}

/*
* エラーページ フッター定義
*/
#errorFooter {
    bottom: 1%;
    height: 10%;
}

#resize{
	 transform: scale(0.95);
	 text-align: -webkit-center;
}

#left{
	margin-left:130px;
}

/*
* ボタンサイズ通常
*/
.smallButton {
    width: 100px;
    height: 30px;
}

/*
* ボタンサイズ大
*/
.bigButton {
    width: 200px;
    height: 50px;
}

/*
* ボタンサイズロング
*/
.longButton {
    width: 200px;
    height: 30px;
}


/*
* 戻るボタンのスタイル
*/
.backButton {
    top: 5px;
    left: 10px;
}

/*
* テーブルヘッダーのスタイル
*/
.tableHeader {
    background-color: #FF6633;
    color: #f9f95a;
    font-weight: bold;
    border: 3.5px dotted #fcb2d7;
    border-collapse: collapse;
}
.tableHeader td, .tableHeader th {
        padding: 0;
        border: 3.5px dotted #fcb2d7;
}

/*
* テーブルボディのスタイル
*/
.tableBody {
    background-color: #a4fff4;
    border: 3.5px dotted #fcb2d7;
    border-collapse: collapse;
    color:black;
}
.tableBody td, .tableBody th {
        padding: 0;
        border: 3.5px dotted #fcb2d7;
}
.full-width {
        width: 100%;
}
.nomalTable{
	border: 0px solid black;
    border-collapse: collapse;
}
.nomalTable td, .nomalTable th {
        padding: 0;
        border: 0px solid black;
}

.widthTable{
	width: 1500px;
    border-collapse: collapse;
}
.widthTable td, .widthTable th {
        padding: 0;
}

.widthTable-S{
	width: 950px;
    border-collapse: collapse;
}
.widthTable-S td, .widthTable-S th {
        padding: 0;
}

.non-border {
	border: none !important;
}

.centered-container {
    width: 80%; 
    margin: 0 auto;
}
/*
* 文字色 黒
*/
.fontBlack {
    color: black;
}

/*
* 文字色 青
*/
.fontBlue {
    color: blue;
}

/*
* 文字色 赤
*/
.fontRed {
    color: red;
}

.button1 {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白 */      
  background    : #FF007F;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #FF007F;    /* 枠の指定 */
}
.button1:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #FF007F;     /* 背景色     */
  background    : #FFFFFF;     /* 文字色     */
}
.button2 {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白 */      
  background    : #00007F;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #00007F;    /* 枠の指定 */
}
.button2:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #00007F;     /* 背景色     */
  background    : #FFFFFF;     /* 文字色     */
}
.button3 {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白 */      
  background    : #66FF66;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #66FF66;    /* 枠の指定 */
}
.button3:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #66FF66;     /* 背景色     */
  background    : #FFFFFF;     /* 文字色     */
}
.button4 {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白 */      
  background    : #FF7F00;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #FF7F00;    /* 枠の指定 */
}
.button4:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #FF7F00;     /* 背景色     */
  background    : #FFFFFF;     /* 文字色     */
}
.button5 {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白 */      
  background    : #666600;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #666600;    /* 枠の指定 */
}
.button5:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #666600;     /* 背景色     */
  background    : #FFFFFF;     /* 文字色     */
}
.button6 {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白 */      
  background    : #FF0000;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #FF0000;    /* 枠の指定 */
}
.button6:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #FF0000;     /* 背景色     */
  background    : #FFFFFF;     /* 文字色     */
}
.button7 {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白 */      
  background    : #00B3B3;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #00B3B3;    /* 枠の指定 */
}
.button7:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #00B3B3;     /* 背景色     */
  background    : #FFFFFF;     /* 文字色     */
}
.button8 {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白 */      
  background    : #7F00FF;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #7F00FF;    /* 枠の指定 */
}
.button8:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #7F00FF;     /* 背景色     */
  background    : #FFFFFF;     /* 文字色     */
}
.button9 {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白 */      
  background    : #FF00FF;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #FF00FF;    /* 枠の指定 */
}
.button9:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #FF00FF;     /* 背景色     */
  background    : #FFFFFF;     /* 文字色     */
}

